@charset "utf-8";

*{margin: 0px; padding: 0px;}
li, ol, ul{list-style: none;}
a{
    color: #333;
    text-decoration: none;
}
body{
    color: #333;
    background-color: #fff;
    font-size: 12px;
    font-family: '나눔고딕', Arial, sans-serif;
}